In [8]:
# str >>> list
name = 'Sonny'
_string = '*'
n_list = list(name)
n_list

['S', 'o', 'n', 'n', 'y']

In [9]:
# str >>> tuple
n_tuple = tuple(name)
n_tuple

('S', 'o', 'n', 'n', 'y')

In [10]:
# tuple >>> list
n_list2 = list(n_tuple)
n_list2

['S', 'o', 'n', 'n', 'y']

In [13]:
# list >>> tuple
n_tuple2 = tuple(n_list)
n_tuple2

('S', 'o', 'n', 'n', 'y')

In [14]:
# list >>> str
n_str1 = ''.join(n_list)
n_str1

'Sonny'

In [15]:
# tuple >>> str
n_str2 = ''.join(n_tuple)
n_str2

'Sonny'

In [16]:
# tuple >>> str (用*号隔开) 
n_str3 = _string.join(n_tuple)
n_str3

'S*o*n*n*y'